 {color: #FE6602; 
        font-family: 'Aclonica',serif;
        font-size: 7em; 
        margin: 20px auto; 
        text-shadow: 0 1px 0 #000000, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #FFFFFF, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333, 0 8px 7px #001135; 
        }
